/* === MAIN === */
.search-input {
  background-color: var(--background-color);
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.5em 5%;
  gap: 1em;
  transition: all 0.1s;

  &:hover {
    filter: drop-shadow(0 0 1.8em var(--point-color));
  }

  .tag-list {
    display: flex;
    justify-content: center;
    gap: .9em;
  }

  button {
    color: inherit;
    border-radius: .5rem;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    transition: all 0.25s;

    &:hover,
    &:focus {
      border-color: #646cff;
    }
  }

  .favorites {
    background-color: var(--sub-color2);
  }

  @media (width < 550px) {
    & {
      padding: 1em 10%;
    }

    & .tag-list {
      flex-flow: column;
      gap: .5em;
      align-items: center;
    }

    & .favorites {
      height: fit-content;
      align-self: center;
    }
  }
}

.loading-shimmer {
  padding: 0.6em min(3em, 3%);

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: .7em;
    align-items: center;

    .loading-item {
      height: max(350px, 50vh);
      padding: .8em;
      box-shadow: 0px 0px 5px 0 #b9b9b986;

      .frame {
        width: 100%;
        height: 100%;
        box-shadow: inset 0px 0px 5px 0 #b9b9b986;
        animation: shimmer 2.2s linear infinite;
        background: linear-gradient(to right, #eff1f3 4%, #eaeaec 25%, #eff1f3 36%);
        background-size: 1000px 100%;
      }
    }
  }

  @keyframes shimmer {
    from {
      background-position: -1000px 500px;
    }

    to {
      background-position: 1000px 500px;
    }
  }
}

.search-result {
  padding: 0.6em min(3em, 3%);

  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: .7em;
    align-items: center;

    .result-item {
      height: max(350px, 50vh);
      padding: .8em;
      border-radius: 8px;
      background-color: var(--sub-color);
      cursor: pointer;
      position: relative;
      transition: filter 0.25s;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover,
      &:focus {
        filter: drop-shadow(0 0 10px var(--point-color));
      }

      .preview {
        opacity: 0;
        position: absolute;
        bottom: .6em;
        right: .3em;
        transition: opacity .2s ease;
        font-size: 1.8em;
      }

      &:hover .preview {
        opacity: 1;
      }
    }
  }

  .empty {
    line-height: 2em;
    height: max(270px, 35vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.image-info {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000073;
  display: flex;
  place-items: center;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s linear;

  &.show {
    visibility: visible;
    opacity: 1;
  }

  .info-wrapper {
    width: 600px;
    background-color: var(--background-color);
    padding: .9em;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    position: relative;

    .info-img {
      object-fit: cover;
      max-height: 80vh;
    }

    #close {
      width: 1.8rem;
      height: 1.8rem;
      font-size: .6rem;
      border-radius: 8px;
      background-color: var(--sub-color);
      position: absolute;
      top: 8px;
      right: 8px;
      border: 5px dashed transparent;
      transition: all 0.1s;

      &:hover {
        border: 5px dashed var(--point-color);
      }
    }

    .text-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 0;
      font-size: .9em;
      margin: 1.8em .5em;

      #like {
        position: absolute;
        right: 0;
        margin: 2em 1em;
        font-weight: bolder;
        border: 5px dashed transparent;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }
}

.heart {
  color: #f36dab;
  font-size: 1.3em;
  padding: .2em .5em;
  vertical-align: middle;
  transition: color 0.1s;

  &.fav {
    color: var(--point-color);
  }

  &:hover {
    color: var(--point-color);
  }
}